:root {
  --color-primary: rgb(0, 128, 255);
  --color-dark: #000000;
  --color-dark-muted: rgba(0, 0, 0, 0.794);
  --color-light: #ffffff;
  --color-bg-subtle: rgb(241, 240, 240);
  --color-pale-gray: #B3B3B3;
  --body-background-color: #FAFAFA;
  --color-alert: rgb(255, 0, 0);

  --border-radius: 5px;
  --btn-padding: 8px;
  --navbar-gap: 36px;
}

.btn-secondary {
  border: 1px solid var(--color-dark);
  border-radius: var(--border-radius);
  padding: var(--btn-padding);
  background-color: var(--color-light);
  color: var(--color-dark);
  cursor: pointer;
}

.btn-secondary:hover {
  background-color: var(--color-dark);
  color: var(--color-light);
}

.btn-primary {
  border: none;
  border-radius: var(--border-radius);
  padding: var(--btn-padding);
  background-color: var(--color-dark);
  color: var(--color-light);
  cursor: pointer;
}

.btn-primary:hover {
  background-color: var(--color-dark-muted);
}

.btn-alert {
  border: none;
  border-radius: var(--border-radius);
  padding: var(--btn-padding);
  background-color: var(--color-alert);
  color: var(--color-light);
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--color-dark);
}

a:hover {
  cursor: pointer;
  color: var(--color-primary);
}

input {
  padding: 0.5rem;
  width: 100%;
  max-width: 360px;
  border: 1px solid var(--color-pale-gray);
  border-radius: var(--border-radius);
}

select {
  padding: 0.5rem;
  width: 100%;
  max-width: 360px;
  border: 1px solid var(--color-pale-gray);
  border-radius: var(--border-radius);
}

input::placeholder {
  color: var(--color-pale-gray);
}